* {
    padding: 0;
    margin: 0;
}

.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */

.primary-bg {
    background-color: #f5f8ff;
    border-bottom: 1px solid #e0e0e0;
}

.secondary-bg{
    background-color: #e5e7ff;
}

.text-primary{
    color: #252432;
}
.blue-2{
    color: #4e47ff;
}

.btn-primary{
    background-color: #4e47ff;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: yellowgreen;
}

.section-title{
    font-size: 45px;
    font-weight: bold;
    color: #252432;
}

.section-description{
    font-size: 23px;
    color: #9a9ba5;
}

.text-center{
    text-align: center;
}
/* header  */
.header{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title{
    font-weight:800;
    font-size: 45px;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner{
    margin: 50px 200px 0 200px;
    padding: 100px 100px 150px 100px;
}

.banner-description{
    font-weight: bold;
    font-size: 75px;
}

.banner-btn{
    margin-top: 50px;
}

/* action styles */

.action {
    display: flex;
    padding: 200px;
    align-items: center;
    justify-content: space-between;
}

.action img{
    border-radius: 50px;
}

.action-title {
    margin: 50px 50px 20px 0;
}

.action-description {
    max-width: 475px;
    margin: 0px 50px 25px 0px;
}

/* productive styles */
.productive{
    margin: 100px 200px 200px;
    border-radius: 20px;
    padding: 50px 80px;
}

.productive-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.productive-header {
    font-size: 100px;
}

/* feedback styles */

.feedback{
    margin: 0 200px 200px;
}

.feedback-contents{
    display: flex;
    margin-top: 70px;
    gap: 20px;
}

.feedback-content {
    background-color: #fafcff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
}

.feedback-content-header {
    font-size: 28px;
    font-weight: bold;
    color: #1e1e1e;
    padding: 20px 0 10px 0;
}

.feedback-content-description {
    font-size: 18px;
    font-weight: 400;
    color: #1e1e1e;
    padding-bottom: 25px;
}

.feedback-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.feedback-user img{
    border-radius: 50%;
}

.feedback-user-name{
    font-size: 17px;
    color: #757575;
    padding-bottom: 7px;
}

.feedback-user-date{
    font-size: 15px;
    color: #b3b3b3;
}

/* getstart styles */

.getstart {
    margin: 0 200px 200px;
    background-color: #ffffff;
    padding: 100px 100px 70px 100px;
    border-radius: 10px;
}

.getstart-description{
    font-size: 15px;
    color: #9a9ba5;
    margin: 23px 0;
}

.getstart-btn{
    margin-bottom: 20px;
}

.getstart figure img{
    border-radius: 50px;
}

/* contract styles */
.contract {
    margin: 0 200px 200px;
    display: flex;
    gap: 100px;
    align-items: center;
}

.contract-column h3{
    font-size: 100px;
}

.contract-column{
    width: 50%;
}

.contract label {
    color: #000000;
    padding-bottom: 10px;
    font-weight: 500;
}

.contract input[type="text"],  .contract input[type="email"]{
    height: 64px;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 90%;
    padding: 10px 28px;
    margin: 10px 0;
    border: 1px solid #e0e0e0;
}

.contract textarea {
    height: 120px;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 90%;
    padding: 10px 28px;
    margin: 10px 0;
    border: 1px solid #e0e0e0;
}

.contract input[type="submit"] {
    width: 100%;
    margin: 10px 0;
}

/* footer styles */

.footer {
    background-color: #ffffff;
    margin: 110px 100px 80px 100px;
    text-align: center;
}

.footer h1 {
    font-size: 100px;
    font-weight: bolder;
}

.footer-description {
    font-size: 15px;
    color: #9a9ba5;
    margin: 15px 510px;
}

.footer-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.footer-links li a {
    text-decoration: none;
    color: #9a9ba5;
    font-size: 15px;
}